"*":
  "atom-beautify":
    analytics: false
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".DS_Store"
      "*.pyc"
    ]
    themes: [
      "atom-light-ui"
      "mac-classic"
    ]
  docblockr: {}
  editor:
    fontFamily: "Menlo"
    fontSize: 18
    invisibles: {}
    lineHeight: 1.3
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "86a53047-4d8d-edde-feb9-4aee8c58726d"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace": {}
  "fuzzy-finder":
    ignoredNames: [
      "es5"
    ]
  "markdown-preview": {}
  "merge-conflicts": {}
  "one-light-ui": {}
  pigments:
    supportedFiletypes: [
      "css"
      "scss"
    ]
  "spell-check": {}
  "tree-view":
    hideIgnoredNames: true
    showOnRightSide: true
  welcome:
    showOnStartup: false
".gfm.source":
  whitespace:
    ensureSingleTrailingNewline: false
".html.mustache.text":
  whitespace:
    ensureSingleTrailingNewline: false
